<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Indicadores Financieros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title style="text-align: center;"><strong>Indicadores</strong> {{ hoy | date }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6" class="ion-text-end">
            <strong>Dolar :  </strong>
          </ion-col>
          <ion-col size="6" class="ion-text-start">
            {{ dollarValue }}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6" class="ion-text-end">
            <strong>Café :  </strong>
          </ion-col>
          <ion-col size="6" class="ion-text-start">
            {{ CoffePrice }}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6" class="ion-text-end">
            <strong>Cacao :  </strong>
          </ion-col>
          <ion-col size="6" class="ion-text-start">
            {{ CocoaPrice }}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
